<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      注册
    </ion-title>
    <ion-buttons>
      <button ion-button (click)="dismiss()">关闭</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="RegisterForm" (ngSubmit)="register(RegisterForm.value)">
    <ion-list>
      <ion-item>
        <ion-label>手机号</ion-label>
        <ion-input type="number" formControlName="phone"></ion-input>

      </ion-item>
       <button class="verification" (click)="pushNotificationChange()"  ion-button small color="secondary" *ngIf="RegisterForm.controls.phone.valid">获取验证码</button>
      <span padding-left *ngIf="!RegisterForm.controls.phone.valid&& RegisterForm.controls.phone.touched" color="danger">请输入手机号码</span>
      <ion-item>
        <ion-label>验证码</ion-label>
        <ion-input type="number" formControlName="verificationCode"></ion-input>

      </ion-item>
    <span padding-left></span>
      <span padding-left *ngIf="!RegisterForm.controls.verificationCode.valid&& RegisterForm.controls.verificationCode.touched" color="danger">请输入验证码</span>
      <ion-item>
        <ion-label>密码</ion-label>
        <ion-input type="password" formControlName="Password"></ion-input>
      </ion-item>
        <span padding-left *ngIf="!RegisterForm.controls.Password.valid&& RegisterForm.controls.Password.touched" color="danger">请输入新密码</span>
      <ion-item>
        <ion-label>重新输入密码</ion-label>
        <ion-input type="passwrod"formContrilNmae="Password1"></ion-input>
      </ion-item>


    </ion-list>
    <div padding-horizontal>
      <button ion-button block type="submit" [disabled]="!RegisterForm.valid">确　认</button>
    </div>

  </form>
</ion-content>
